<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:if="${message}" style="color: green; font-weight: bold; margin-bottom: 15px;">
        [[${message}]]
    </div>

    <!-- Hiển thị thông báo lỗi -->
    <div th:if="${error}" style="color: red; font-weight: bold; margin-bottom: 15px;">
        [[${error}]]
    </div>
    <meta charset="UTF-8">
    <title>Chi tiết đơn hàng</title>
</head>
<body>
<h2>Chi tiết đơn hàng</h2>

<p>ID: <span th:text="${order.getId()}"></span></p>
<p>Ngày đặt: <span th:text="${order.getOrderDate()}"></span></p>
<p>Ngày sử dụng: <span th:text="${order.getStartDate()}"></span></p>
<p>Ngày kết thúc: <span th:text="${order.getEndDate()}"></span></p>
<p>Tổng tiền: <span th:text="${order.getTotalAmount()} + ' VND'"></span></p>
<p>Trạng thái: <span th:text="${order.getStatus()}"></span></p>
<p>Khách hàng: <span th:text="${order.customer.fullname}"></span></p>
<form th:action="@{'/SWP/orders/' + ${order.id} + '/approve'}" method="post" style="display:inline;">
    <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px;">✔ Approve</button>
</form>
<form method="post" th:action="@{/SWP/orders/{id}/reject(id=${order.id})}" style="display: inline;">
    <button type="submit" style="background-color: #f44336; color: white; padding: 10px;">✖ Reject</button>
</form>

<a href="/SWP/orders">Quay lại danh sách</a>
</body>
</html>
